body{
    font-family: RobotoSlab-Medium;
}
.main{
    margin-top: 3rem;
}
h5{
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
}
form .input{
    margin-bottom: 1rem;
}
form .input label{
    width: 100%;
}
form .input label sup{
    color: red;
    font-size: 1rem;
    margin-top: -1rem;
}
form .input input ,form .input textarea{
    width: 100%;
    padding: .3rem .5rem;
    outline: none;
    color: #999;
}
.info{
    border: 1px solid var(--mainColor);
    padding: 1rem 2rem;
}
.title{
    border-bottom: 1px solid #ddd;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
}
.title h6{
    font-weight: bold;
}
.title p{
    margin: 0;
    color: #777;
}
.title span{
    color: var(--mainColor);
}
.check{
    margin: 1rem;
}
.check label{
    cursor: pointer;
}
.info button{
    color: #fff;
    text-transform: uppercase;
    padding: .5rem 2rem;
    background-color: #d26e4b;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color .3s;
}
.info button:hover{
    background-color: #b15533;
}